@use './variables' as vars;

//== Base

html,
body {
    margin: 0;
    font-size:   vars.$font-size;
    font-family: vars.$font-family;
    line-height: vars.$font-height;
    color:       vars.$color-foreground;
    background:  vars.$color-background;

    @media (prefers-color-scheme: dark) {
        color:       vars.$color-foreground-dark;
        background:  vars.$color-background-dark;
    }
}


a {
    color: vars.$color-link;

    @media (prefers-color-scheme: dark) {
        color: vars.$color-link-dark;
    }
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
}
